[contenteditable] {
    outline: 0px solid transparent;
}
#volume {
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-left: -1rem;
    height: 30px;
    width: 70px;
    float: left;
    border-radius: 5px;
}
#volume div{
    width: 30px;
    background-color:transparent;
    border-radius: 15px;
    display: inline;
    float: left;
    position: absolute;
}
#toolbar.waiting>#volume div{
    border-right: 3px solid rgb(220, 89, 96);
}
#toolbar.watching>#volume div{
    border-right: 3px solid #5FB4D8;
}

#volume div:first-child{
    bottom: 40%;
    left: 5px;
    height: 20%;
}
#volume div:nth-child(2){
    bottom: 30%;
    left: 15px;
    height: 40%;
}
#volume div:nth-child(3){
    bottom: 20%;
    left: 25px;
    height: 60%;
}
#volume div:nth-child(4){
    bottom: 10%;
    left: 35px;
    height: 80%;
}
#volume div:nth-child(5){
    bottom: 0%;
    left: 45px;
    height: 100%;
}

#toolbar { 
    padding: 1rem;
    display: inline-block;
    padding-right: 25px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dddddd;
}
#toolbar>h1{
    display: inline;
    float: left;
}
#toolbar>h1>span{
    color:#5FB4D8;
    font-style: italic;
    font-weight: bold;
}
#toolbar.watching>h1>span{
    color:#5FB4D8;
}
#toolbar.waiting>h1>span{
    color: rgb(220, 89, 96);
}

[contenteditable="true"]{
    cursor: text !important;
    display: inline-block;
    min-width:10px;
    height: 32.5px;
}
#waiting{
    cursor: pointer;
    color: #DC5960;
}
#waiting:hover{
    color: #dc596093;
}

#watching-branch{
    display: none;
}
.ask-opt{
    cursor: pointer;
    padding:0px;
    margin:0px;
    color: #5FB4D8;
    height: 25px;
}
.ask-opt:hover{
    color: #5fb4d871;
}
.option-sentence{
    line-height: 2.6;
    height:25px;
    font-style: italic;
    display: inline;
    font-size:1rem;
    font-weight: bold;
    max-width: 900px;
    margin: 0px;
    padding: 0px;
    float: right;
}
.option-sentence>span{
    height:25px;
}

.displayed-alert{
    display: inline-block;
} 
.hidden-alert{
    display: none;
}

@media only screen and (max-width: 1235px){
    #toolbar {
        height: 120px;
    }
    #toolbar h1 {
        margin-bottom:1.5rem;
    }
    #toolbar p {
        line-height: 0rem;
    }
}
@media only screen and (max-width: 650px){
    #toolbar {
        height: 140px;
    }
    #toolbar h1 {
        margin-bottom:1.5rem;
    }
    #toolbar p {
        line-height: 0rem;
    }
}
@media only screen and (max-width: 350px){
    #toolbar {
        height: 160px;
    }
    #toolbar h1 {
        margin-bottom:1.5rem;
    }
    #toolbar p {
        line-height: 0rem;
    }
}

