<div id='options-container'>
        <label for="refresh-frequency">Refresh every</label>
        <input class="ask-option" type="text" id="refresh-frequency" name="refresh-frequency">
        <p>seconds</p>
        <br>
        <label for="alert-frequency">Alert with</label>
        <select class="ask-option" id="alert-sound" name="alert-sound">
            <option dataVal = "1">Alert One</option>
            <option dataVal = "2">Alert Two</option>
            <option dataVal = "3">Alert Three</option>
            <option dataVal = "4">Alert Four</option>
        </select>
        <p>every </p>
        <input class="ask-option" type="text" id="alert-frequency" name="alert-frequency">
        <p>seconds </p>
</div>
    