<div id='toolbar'>
    <h1>Ask<span>Assist</span></h1>

    <p class="option-sentence">... is 
        <span id="waiting-branch"><span id="waiting" class="ask-opt">waiting</span> for you to to click.</span>
        <span id="watching-branch">
            <span id="watching" class="ask-opt"> watching </span> every <span isoption="true" contenteditable="true" id="watch-time" class="ask-opt">4</span>
            seconds and, when questions are available, will
            <span id="alert-sounds">
                <span id="one" class="ask-opt">rick roll</span>
                <span id="two" class="ask-opt">beep</span>
            </span>
            <span isoption="true" contenteditable="true" id="alert-frequency" class="ask-opt">10</span> times per minute.
        </span>
    </p>

</div>